@model IEnumerable<KhdoumWeb.Models.Member>

@{
    ViewData["Title"] = "قائمة الأعضاء";
    Layout = "~/Views/Shared/DashBoardLayout.cshtml";
}

<h1>قائمة الأعضاء</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">اضافة عضو جديد</a>
</p>
<table class="table table-striped table-bordered text-center" id="tbl">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.ImgUrl == "false")
                {
                    <td>
                        <img class="tbl-img" src="~/uploads/default.png" />
                    </td>
                }
                else
                {
                    <td>
                        <img class="tbl-img" src="~/uploads/Members/@item.ImgUrl" />
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemsCount)
                </td>
                @if (item.State)
                {
                    <td>
                        <i class="fas fa-check text-success"></i>
                    </td>
                }
                else
                {
                    <td>
                        <i class="fas fa-times text-danger"></i>
                    </td>
                }
                <td>
                    <a class="btn btn-warning tbl-btn" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pen"></i></a>
                    <a class="btn btn-info tbl-btn" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info"></i></a>
                    <a class="btn btn-danger tbl-btn" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts
{
    <script>
        $(document).ready(function () {


            var datatable;
            datatable = $('#tbl').DataTable({
                language: {
                    "sEmptyTable": "ليست هناك بيانات متاحة في الجدول",
                    "sLoadingRecords": "جارٍ التحميل...",
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ أعضاء",
                    "sZeroRecords": "لم يعثر على أى أعضاء",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ أعضاء",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "ابحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    },
                    "oAria": {
                        "sSortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                        "sSortDescending": ": تفعيل لترتيب العمود تنازلياً"
                    }
                },
                //{
                //    "search": "إبحث",
                //    "lengthMenu": "أظهر _MENU_ شركات",
                //    "zeroRecords": "لايوجد شركات",
                //    //"info": "يوجد _PAGE_ من _PAGES_ شركات",
                //    "infoEmpty": "لايوجد شركات",
                //    "infoFiltered": "(بحث  من _MAX_ كل الشركات)"
                //},
                order: [0, 'asc'],
                dom: 'Bflrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });


            //On Success
            function OnSuccess() {
                $('#myModal').hide();
            }

        });
    </script>

}