@model IEnumerable<KhdoumWeb.Models.Item>



<div id="tbl">
    <div style="margin-top:50px">
        @if (Model.Count() != 0)
        {
            <div class="row">

                @foreach (var item in Model)
                {
                    string Id = $"btn{item.Id}";
                    <div class="col-lg-4">
                        <div class="card" style="margin-bottom:15px;height: 475px;">
                            @if (item.ImgUrl == "false")
                            {
                                <img style="height:200px" src="~/uploads/default.png" class="card-img-top" alt="@item.Title" title="@item.Title">
                            }
                            else
                            {
                                <img style="height:200px" src="~/uploads/Items/@item.ImgUrl" class="card-img-top" alt="@item.Title" title="@item.Title">
                            }
                        <div class="card-body">
                            <h5 class="card-title"><a target="_blank" asp-action="Item" asp-route-id="@item.ShortLink" class="nav-link Lnk">@item.Title</a></h5>
                            <p style="margin:0" class="card-text">
                                <a target="_blank" asp-action="Item" asp-route-id="@item.ShortLink" class="nav-link text-dark">
                                    @Html.Raw(item.Description.Substring(0, 85)))
                                    <span>...</span>
                                </a>
                            </p>
                            <button onclick="AddToFavorite(@item.Id)" name="@item.Id" id="@Id" class="btn btn-primary"><i class="fas fa-heart text-white"></i></button>
                            <a href="#" id="ShareBtn" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-warning"><i id="ShareBtnIcon" class="fas fa-share-alt"></i></a>
                        </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="alert alert-warning text-center" style="border-radius:0;width:100%">لم يتم العثور على اى عناصر</p>
        }

    </div>
</div>
<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">مشاركة الخدمة</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="ManageCategories" class="modal-body">
                <div class="addthis_inline_share_toolbox"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script>

    </script>
}