@model KhdoumWeb.Models.ViewModels.ItemDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Title}";
    ViewData["Image"] = $"~/uploads/Items/{Model.ImgUrl}";
    ViewData["Url"] = Context.Request.Path;
    ViewData["SiteName"] = "Khdoum.com";

    int? count = Model.RatingCount;
    int? value = Model.RatingValues;
    int? rating = 0;
    if (count > 0)
    {
         rating = value / count;
    }

}


<style>
    #ItemMain {
        background-color: white;
        padding: 10px;
        overflow: auto;
    }

    #ImgContainer {
        width: 100%;
        text-align: center;
        position: relative;
    }

    #ImgContainer:before {
        float: left;
        padding-top: 100%; /* initial ratio of 1:1*/
    }

    #ItemImg {
        max-height:500px; 
        width: 65%;
    }

    #UserInfo {
        background-color: white;
        padding: 10px;
        margin-top: 20px;
    }

    #UserImgContainer {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    #UserImg {
        width: 100px;
        height: 100px;
        border-radius: 200px;
    }

    #PriceContainer {
        margin-top: 20px;
        background-color: white;
        height: 50px;
        padding-top: 8px;
    }

    #OrderContainer {
        margin-top: 20px;
        height: 50px;
    }

        #OrderContainer a {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding-top: 10px;
        }

    #OrderIcon {
        position: absolute;
        right: 30px;
        margin-top: 5px;
    }

    #TextOrderContainer {
        margin-top: 20px;
        height: 50px;
    }

        #TextOrderContainer a {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding-top: 10px;
        }

    #TextOrderIcon {
        position: absolute;
        right: 30px;
        margin-top: 5px;
    }

    #Raiting {
        background-color: white;
        height: 100px;
        font-size: 25px;
        text-align: center;
        padding-top: 8px;
    }

    #Views {
        background-color: white;
        height: 50px;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

        #Views p {
            padding-top: 8px;
        }

        #Views i {
            position: absolute;
            right: 30px;
            margin-top: 5px;
        }

    .Message {
        background-color: white;
        padding: 10px;
        margin-top: 20px;
    }

    .MessageBody {
        border: none;
        background-color: #f3f3f3;
        width: 100%;
        padding: 10px;
    }

    .Message .MessageLnks {
        width: 100%;
    }

        .Message .MessageLnks a {
            border-radius: 0;
            width: 100%;
            margin: auto;
        }

    #Share {
        margin-top: 20px;
        height: 50px;
    }

        #Share a {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding-top: 10px;
        }

    #ShareBtnIcon {
        position: absolute;
        right: 30px;
        margin-top: 5px;
    }

    .HeaderAd {
        background-color: #007eb2;
        color: white;
        height: 100px;
        margin-bottom: 20px;
    }

    .SideAd {
        background-color: #007eb2;
        color: white;
        height: 300px;
        margin-top: 20px;
        text-align: center;
    }

    .ContentAd {
        background-color: #007eb2;
        color: white;
        height: 300px;
        margin-top: 20px;
        text-align: center;
    }
    .ItemCard {
/*        height: 220px;*/
        margin-top:25px;
        width:100%;
    }

    .ItemCard .ItemCardSlider {
        width: 25%;
        height: 100%;
        float: right;
    }

    

    .ItemCard .ItemCardContent {
        width: 100%;
        height: 100%;
    }

        .ItemCard .ItemCardContent .ItemCardContentTitle {
           margin-right:27%;
/*           font-size:20%;*/
        }


        .ItemCard .ItemCardContent .ItemCardContentBtn {
            border-radius: 0;
            margin-right: 27%;
            display: block;
            width: 73%;
            height: 26%;
        }
        .ItemCard .ItemCardContent .ItemCardContentBtn .ItemCardContentBtnPrice {
            position: absolute;
            left: 30px;
            font-size:20px;
        }

        .ItemCard .ItemCardContent .ItemCardContentBtn .ItemCardContentBtnIcon {
            position: absolute;
            right: 31%;
            margin-top:7px;
        }

        .ItemCard .ItemCardContent .ItemCardContentInfo {
            margin-right: 27%;
        }

        .ItemCard .ItemCardContent .ItemCardContentOrder {
/*           margin-right: 27%;*/
            height:32%;
            text-align: center;
            font-size: 20px;
        }

        .ItemCard .ItemCardContent .ItemCardContentOrderPlus, .ItemCard .ItemCardContent .ItemCardContentOrderMins, .ItemCardContentOrderAdd, .ItemCardContentOrderRemove {
            font-size: 25px;
            font-weight: bold;
            width: 50px;
            /*           height:50px;*/
        }

    #ItemMain #BtnCartInfo {
        width: 85px;
        height: 85px;
        border-radius: 200px;
        position: fixed;
        bottom: 109px;
        right: 96px;
        background-color: rgb(0, 112, 205);
        color:white;
        z-index:100;
    }

    .BtnCartInfoNotfcation {
        width: 40px;
        display: none;
        height: 40px;
        background-color: rgb(239, 15, 15);
        border-radius: 25px;
        text-align: center;
        padding: 7px;
        position: absolute;
        top: -20px;
        left: 1px;
        color:white;
        
    }

    #BtnCartInfo:hover {
        background-color: rgb(1, 139, 255);
    }

    
</style>

<div style="margin-top:20px">
    <div class="row">
        <div class="col-lg-12">
            <div class="HeaderAd">
                <h3 style="padding-top:30px" class="text-center">مساحه اعلانيه</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div id="ItemMain">
               
                <h4 id="ItemTitle">@Model.Title</h4>
                <p>تمت الاضافة بتاريخ : @Model.Date</p>
                <div id="ImgContainer">
                    @if (Model.ImgUrl == "false")
                    {
                        <img id="ItemImg" src="~/uploads/default.png" alt="@Model.Title" title="@Model.Title">
                    }
                    else
                    {
                        <img id="ItemImg" src="~/uploads/Items/@Model.ImgUrl" alt="@Model.Title" title="@Model.Title">
                    }
                </div>
                <div>
                    <p>@Html.Raw(Model.Description)</p>

            
                    @*<div>
                        <div id="ItemCard1" data-itm="1" class="ItemCard">
                            <div class="card mb-3" style="width:99%">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div class="w3-content w3-display-container">
                                            <img id="Img1" class="mySlides1" src="~/uploads/categories/18750440-a4ba-442c-baa1-ee8630038852.png" style="width:100%">
                                            <img class="mySlides1" src="~/uploads/categories/6ff56705-5588-48ae-abd6-50785f87406a.png" style="width:100%">
                                            <img class="mySlides1" src="~/uploads/categories/78572f39-e629-40df-951b-75ad14e6e035.png" style="width:100%">
                                            <img class="mySlides1" src="~/uploads/categories/891934c3-b67a-439b-b05c-3075df5ea068.png" style="width:100%">
                                            
                                            <button class="w3-button w3-black w3-display-left BtnLeft">&#10095;</button>
                                            <button class="w3-button w3-black w3-display-right BtnRight">&#10094;</button>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <div class="ItemCardContent">
                                                <h3 id="ItemCardContentTitle1" class="card-title">اريال - مسحوق غسيل 4 كيلو + 2 كيلو هدية</h3>
                                                <h4 class="card-text">
                                                    السعر
                                                    <strong class="ItemCardContentInfoPrice text-danger"> 50.5 ج</strong>
                                                    لكل
                                                    <strong class="ItemCardContentInfoUnit text-danger"> وحدة</strong>
                                                </h4>
                                                <div class="ItemCardContentOrder">
                                                    <input type="hidden" id="ItmId1" value="1" />
                                                    <input type="hidden" id="Quantity1" value="1" />
                                                    <input id="Price1" type="hidden" value="10" />
                                                    <button  class="ItemCardContentOrderPlus btn btn-secondary"><i class="fas fa-plus"></i></button>
                                                    <span id="QuantityLabel1" class="ItemCardContentOrderQuantity">0.0</span>
                                                    <button  class="ItemCardContentOrderMins btn btn-secondary"><i class="fas fa-minus"></i></button>

                                                    <button id="AddToCart1"  class="ItemCardContentOrderAdd btn btn-dark"><i class="fas fa-cart-plus"></i></button>
                                                    <span id="ItemCardContentBtnPrice1" class="ItemCardContentOrderQuantity">0</span><span>ج</span>
                                                    <button  class="ItemCardContentOrderRemove btn btn-dark"><i class="fas fa-trash-alt"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ItemCard2" data-itm="2" class="ItemCard">
                            <div class="card mb-3" style="width:99%">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div class="w3-content w3-display-container">
                                            <img id="Img2" class="mySlides2" src="~/uploads/categories/18750440-a4ba-442c-baa1-ee8630038852.png" style="width:100%">
                                            <img class="mySlides2" src="~/uploads/categories/6ff56705-5588-48ae-abd6-50785f87406a.png" style="width:100%">
                                            <img class="mySlides2" src="~/uploads/categories/78572f39-e629-40df-951b-75ad14e6e035.png" style="width:100%">
                                            <img class="mySlides2" src="~/uploads/categories/891934c3-b67a-439b-b05c-3075df5ea068.png" style="width:100%">

                                            <button class="w3-button w3-black w3-display-left BtnLeft" >&#10095;</button>
                                            <button class="w3-button w3-black w3-display-right BtnRight" >&#10094;</button>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <div class="ItemCardContent">
                                                <h3 id="ItemCardContentTitle2" class="card-title">اريال - مسحوق غسيل 4 كيلو + 2 كيلو هدية</h3>
                                                <h4 class="card-text">
                                                    السعر
                                                    <strong class="ItemCardContentInfoPrice text-danger"> 50.5 ج</strong>
                                                    لكل
                                                    <strong class="ItemCardContentInfoUnit text-danger"> وحدة</strong>
                                                </h4>
                                                <div class="ItemCardContentOrder">
                                                    <input type="hidden" id="ItmId2" value="2" />
                                                    <input type="hidden" id="Quantity2" value="1" />
                                                    <input id="Price2" type="hidden" value="10" />
                                                    <button  class="ItemCardContentOrderPlus btn btn-secondary"><i class="fas fa-plus"></i></button>
                                                    <span id="QuantityLabel2" class="ItemCardContentOrderQuantity">0.0</span>
                                                    <button  class="ItemCardContentOrderMins btn btn-secondary"><i class="fas fa-minus"></i></button>

                                                    <button id="AddToCart2"  class="ItemCardContentOrderAdd btn btn-dark"><i class="fas fa-cart-plus"></i></button>
                                                    <span id="ItemCardContentBtnPrice2" class="ItemCardContentOrderQuantity">0ج</span>
                                                    <button  class="ItemCardContentOrderRemove btn btn-dark"><i class="fas fa-trash-alt"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ItemCard3" data-itm="3" class="ItemCard">
                            <div class="card mb-3" style="width:99%">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div class="w3-content w3-display-container">
                                            <img id="Img3" class="mySlides3" src="~/uploads/categories/18750440-a4ba-442c-baa1-ee8630038852.png" style="width:100%">
                                            <img class="mySlides3" src="~/uploads/categories/6ff56705-5588-48ae-abd6-50785f87406a.png" style="width:100%">
                                            <img class="mySlides3" src="~/uploads/categories/78572f39-e629-40df-951b-75ad14e6e035.png" style="width:100%">
                                            <img class="mySlides3" src="~/uploads/categories/891934c3-b67a-439b-b05c-3075df5ea068.png" style="width:100%">

                                            <button class="w3-button w3-black w3-display-left BtnLeft" >&#10095;</button>
                                            <button class="w3-button w3-black w3-display-right BtnRight" >&#10094;</button>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <div class="ItemCardContent">
                                                <h3 id="ItemCardContentTitle3" class="card-title">اريال - مسحوق غسيل 4 كيلو + 2 كيلو هدية</h3>
                                                <h4 class="card-text">
                                                    السعر
                                                    <strong class="ItemCardContentInfoPrice text-danger"> 50.5 ج</strong>
                                                    لكل
                                                    <strong class="ItemCardContentInfoUnit text-danger"> وحدة</strong>
                                                </h4>
                                                <div class="ItemCardContentOrder">
                                                    <input type="hidden" id="ItmId3" value="3" />
                                                    <input type="hidden" id="Quantity3" value="1" />
                                                    <input id="Price3" type="hidden" value="10" />
                                                    <button  class="ItemCardContentOrderPlus btn btn-secondary"><i class="fas fa-plus"></i></button>
                                                    <span id="QuantityLabel3" class="ItemCardContentOrderQuantity">0.0</span>
                                                    <button  class="ItemCardContentOrderMins btn btn-secondary"><i class="fas fa-minus"></i></button>

                                                    <button id="AddToCart3"  class="ItemCardContentOrderAdd btn btn-dark"><i class="fas fa-cart-plus"></i></button>
                                                    <span id="ItemCardContentBtnPrice3" class="ItemCardContentOrderQuantity">0ج</span>
                                                    <button  class="ItemCardContentOrderRemove btn btn-dark"><i class="fas fa-trash-alt"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                   
                </div>
            </div>
            <div id="Message" class="Message">
                <h5 class="MessageTitle">ارسال طلبك فى رسالة</h5>
                <textarea class="MessageBody" placeholder="اطلب طلباتك الآن عبر الواتساب أو الايميل" rows="8"></textarea>
                <div class="MessageLnks">
                    <a href="#Message" target="_self" id="Whats" onclick="GoWhats()" class="btn btn-info">ارسال عبر الواتساب</a>
                    <a href="#Message" id="Email" target="_self" onclick="GoEmail()" class="btn btn-primary">ارسال عبر الايميل</a>
                </div>
                <span class="text-danger Alert"></span>
            </div>
            <div id="Message" class="Message">
                <h5 class="MessageTitle">شارك على حساباتك</h5>
                <div style="margin-top:10px" class="addthis_inline_share_toolbox"></div>
            </div>
            <div class="ContentAd">
                <h3 style="padding-top:130px">مساحة اعلانيه</h3>
            </div>
        </div>

        <div class="col-lg-3">
            <div id="Raiting">
                <div id="Stars">
                    @for (int i = 1; i < 6; i++)
                    {
                        if (rating > 0)
                        {
                            <i class="fas fa-star text-warning"></i>
                        }
                        else
                        {
                            <i class="far fa-star text-warning"></i>
                        }

                        rating = rating - 1;
                    }
                    <p style="font-size:23px">@count تقييمات</p>
                </div>
            </div>
            <div id="Views" class="text-warning">
                <p><i class="fas fa-eye"></i> @Model.ViewsCount</p>
            </div>
            <div id="UserInfo">
                <div id="UserImgContainer">
                    @if (Model.Member.ImgUrl == "false")
                    {
                        <img id="UserImg" class="" src="~/uploads/default.png" alt="@Model.Title" title="@Model.Member.FullName">
                    }
                    else
                    {
                        <img id="UserImg" src="~/uploads/Members/@Model.Member.ImgUrl" alt="@Model.Member.FullName" title="@Model.Member.FullName">
                    }
                </div>
                <h5 class="text-center"><a asp-action="Search" asp-route-q="@Model.Member.FullName" class="Lnk">@Model.Member.FullName</a></h5>
            </div>
            @if (Model.Price != 0)
            {
                <div id="PriceContainer">
                    <h4 class="text-center text-danger">@Model.Price ج.م</h4>
                </div>
            }
            <div class="SideAd">
                <iframe src="https://www.google.com/maps/embed?pb=@Model.LocationMap" frameborder="0" style="border:0;width:100%;height:100%" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div id="OrderContainer">
                <a id="OrderBtn" asp-action="Order" asp-route-id="@Model.Id" data-ajax="true" data-ajax-method="post" class="btn btn-primary"><i id="OrderIcon" class="fas fa-phone"></i> <span>أطلب الآن</span></a>
            </div>
            <div id="TextOrderContainer">
                <a href="#Message" id="TextOrderBtn" class="btn btn-info"><i id="TextOrderIcon" class="fas fa-comment-medical"></i> <span>أرسل طلبك فى رساله</span></a>
            </div>
            <div id="Share">
                <a href="#" id="ShareBtn" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-warning"><i id="ShareBtnIcon" class="fas fa-share-alt"></i> <span>مشاركة</span></a>
            </div>
            <div class="SideAd">
                <h3 style="padding-top:130px;">مساحة اعلانيه</h3>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">مشاركة الخدمة</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="ManageCategories" class="modal-body">
                <div class="addthis_inline_share_toolbox"></div>
                @*<div class="sharethis-inline-share-buttons"></div>*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script>
        $(function () {


            $('.ItemCardContentOrderPlus').html('<i class="fas fa-plus"></i>');
            $('.ItemCardContentOrderMins').html('<i class="fas fa-minus"></i>');
            $('.ItemCardContentOrderAdd').html('<i class="fas fa-cart-plus">');
            $('.ItemCardContentOrderRemove').html('<i class="fas fa-trash-alt"></i>');

        $('#OrderBtn').click(function (e) {


            if ($(this).find('span').text() != "أطلب الآن") {

                $(this).attr('href', 'tel:+2-010-646-416-08');
                $(this).attr('data-ajax', '');
                $(this).attr('data-ajax-method', '');

                //e.preventDefault();
                //return;
            }
            else {
                $(this).find('span').text("201064641608");
            }

        });


        //Show Count of item Records in indexedDb
        remove("00-00");
        ShowItemCountOnOrderButton();
       

    });

        function GoWhats() {
            var message = $('.MessageBody').val();
            var Title = $('#ItemTitle').text();
            var Url = "طلب الخدمة @Model.ShortLink";
            if (message == '') {
                $('.Alert').text("ادخل طلبك");
                return;
            }


            $('#Whats').attr("href", `https://wa.me/201064641608?text= ${message} لـ ${Title}  (${Url})`)
            $('#Whats').attr("target", "_blank");
            $('.Alert').text("");
        }

        function GoEmail() {
            var message = $('.MessageBody').val();
            var Title = $('#ItemTitle').text();
            Url= "طلب الخدمة @Model.ShortLink";

            if (message == '') {
                $('.Alert').text("ادخل طلبك");
                return;
            }

            $('#Email').attr("href", `mailto:@Model.Member.Email?subject= ${Title} (${Url})&body=${message}`);
            $('#Email').attr("target", "_blank");
            $('.Alert').text("");
            //console.log(`mailto:@Model.Member.Email?subject= ${Title}&body=${message}`);
        }

        //item card slider
        var slideIndex = 1;
        var Counter = 1;
        var BackItm = 1;
        $('.ItemCard').each(function (i, tr) {
            showDivs(slideIndex, Counter);
            Counter = Counter + 1;
        });

        $('.BtnLeft').click(function () {
            var itm = $(this).parents(".ItemCard").attr("data-itm");
            plusDivs(-1,itm);
        });

        $('.BtnRight').click(function () {
            var itm = $(this).parents(".ItemCard").attr("data-itm");
            plusDivs(1,itm);
        });

        //item card slider
        function plusDivs(n, itm) {
            if (itm != BackItm) {
                slideIndex = 1;
            }
            showDivs(slideIndex += n, itm);
            BackItm = itm;
        }

        function showDivs(n,itm) {
            var i;
            //var x = document.getElementsByClassName("mySlides" + itm);
            var x = $('.mySlides' + itm);
            console.log(x);
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }

        function PlusQuantity(itm) {
            var Quantity = Number($('#Quantity' + itm).val());
            var Price = Number($('#Price' + itm).val());
            var QuantityLabel = $('#QuantityLabel' + itm);
            var QuantityLabelVal = Number($('#QuantityLabel' + itm).text());
            
            var TotalQuantity = QuantityLabelVal + Quantity;
            var TotalPrice = Price * TotalQuantity;
            $(QuantityLabel).text(TotalQuantity);

            var QuantityVal = $('#QuantityLabel' + itm).text();
            console.log(QuantityVal.indexOf("."));
            if (QuantityVal.indexOf(".") == -1) {
                $('#QuantityLabel' + itm).text(`${QuantityVal}.0`);
            }

            $('#ItemCardContentBtnPrice' + itm).text(`${TotalPrice}`);
            $('#AddToCart' + itm).removeClass("btn-dark");
            $('#AddToCart' + itm).addClass(" btn-danger");
        }

        function MinsQuantity(itm) {
            var Quantity = Number($('#Quantity' + itm).val());
            var QuantityLabel = $('#QuantityLabel' + itm);
            var QuantityLabelVal = Number($('#QuantityLabel' + itm).text());
            var Price = Number($('#Price' + itm).val());

           
            if (!Number($('#QuantityLabel' + itm).text()) <= 0) {
                var TotalQuantity = QuantityLabelVal - Quantity;
                var TotalPrice = Price * TotalQuantity;
                console.log(TotalPrice);
                $(QuantityLabel).text(TotalQuantity);
                var QuantityVal = $('#QuantityLabel' + itm).text();
                if (QuantityVal.indexOf(".") == -1) {
                    $('#QuantityLabel' + itm).text(`${QuantityVal}.0`);
                    $('#ItemCardContentBtnPrice' + itm).text(`${TotalPrice}`);
                }

                if (QuantityVal == 0) {
                    $('#AddToCart' + itm).removeClass("btn-danger");
                    $('#AddToCart' + itm).addClass(" btn-dark");
                }

            }
            

        }

        $('.ItemCardContentOrderPlus').click(function () {
            var itm = $(this).parents(".ItemCard").attr("data-itm");
            PlusQuantity(itm)
        });

         $('.ItemCardContentOrderMins').click(function () {
            var itm = $(this).parents(".ItemCard").attr("data-itm");
             MinsQuantity(itm)
        });

        function ShowItemCountOnOrderButton() {
            var ItemsCount = db.transaction(["item"], "readwrite")
                .objectStore("item").count();

            ItemsCount.onsuccess = function () {
                var result = ItemsCount.result;
                if (result > 0) {
                    if (result > 10) {
                        $('.BtnCartInfoNotfcation').text(+10);
                    }
                    else {
                        $('.BtnCartInfoNotfcation').text(result);
                    }
                    $('.BtnCartInfoNotfcation').show();
                }
                else {
                    $('.BtnCartInfoNotfcation').hide();
                }
            }
        }

        //Start DataBase

        

        //prefixes of implementation that we want to test
        window.indexedDB = window.indexedDB || window.mozIndexedDB ||
            window.webkitIndexedDB || window.msIndexedDB;

        //prefixes of window.IDB objects
        window.IDBTransaction = window.IDBTransaction ||
            window.webkitIDBTransaction || window.msIDBTransaction;
        window.IDBKeyRange = window.IDBKeyRange || window.webkitIDBKeyRange ||
            window.msIDBKeyRange

        if (!window.indexedDB) {
            window.alert("Your browser doesn't support a stable version of IndexedDB.")
        }

        //variables
        var Id = 0;
        var Title = "";
        var Price = 0;
        var Quantity = 0;
        var Img = "";
        var TotalPrice = 0;

        const ItemData = [
            { id: "00-00", title: "start", price: 0, quantity: 0, img: "", totalPrice: 0 }
        ];

        var db;
        var request = window.indexedDB.open("newDatabase", 1);

        request.onerror = function (event) {
            console.log("error: ");
        };

        request.onsuccess = function (event) {
            db = request.result;
            console.log("success: " + db);
        };

        request.onupgradeneeded = function (event) {
            var db = event.target.result;
            var objectStore2 = db.createObjectStore("item", { keyPath: "id" });


            for (var i in ItemData) {
                objectStore2.add(ItemData[i]);
            }
        }


        

        function read() {
            var transaction = db.transaction(["order"]);
            var objectStore = transaction.objectStore("order");
            var request = objectStore.get("00-02");

            console.log(transaction);
            console.log(objectStore);
            console.log(request);

            request.onerror = function (event) {
                alert("Unable to retrieve daa from database!");
            };

            //request.onsuccess = function (event) {
            //    // Do something with the request.result!
            //    if (request.result) {
            //        alert("Name: " + request.result.name + ", Age: " + request.result.age + ", Email: " + request.result.email);
            //   } else {
            //        alert("Kenny couldn't be found in your database!");
            //    }
            //};
        }

        function readAll() {
            var objectStore = db.transaction("order").objectStore("order");

            objectStore.openCursor().onsuccess = function (event) {
                var cursor = event.target.result;

                if (cursor) {
                    alert("Name for id " + cursor.key + " is " + cursor.value.name + ",  Age: " + cursor.value.age + ", Email: " + cursor.value.email);
                  cursor.continue();
                } else {
                    alert("No more entries!");
                }
            };
        }
        var Num = 0;
        function add(itm) {
            remove("00-00");
            remove(itm);
           

            Id = $('#ItmId' + itm).val();
            Title = $('#ItemCardContentTitle' + itm).text();
            Quantity = $('#QuantityLabel' + itm).text();
            TotalPrice = $('#ItemCardContentBtnPrice' + itm).text();
            Img = $('#Img' + itm).attr("src");
            Price = $('#Price' + itm).val();


            console.log(Id);
            console.log(Title);
            console.log(Quantity);
            console.log(Price);
            console.log(Img);
            if (Number(Quantity) > 0) {
                var request = db.transaction(["item"], "readwrite")
                    .objectStore("item")
                    .add({ id: Id, title: Title, price: Price, quantity: Quantity, img: Img, totalPrice : TotalPrice });

                request.onsuccess = function (event) {
                    ShowItemCountOnOrderButton();
                };

                request.onerror = function (event) {
                    //alert("Unable to add data\r\nKenny is aready exist in your database! ");
                    console.log("error");
                }
            }
            else {
                console.log("less than");
            }
            
        }

        function remove(itm) {
            var request = db.transaction(["item"], "readwrite")
                .objectStore("item")
                .delete(itm);

            request.onsuccess = function (event) {
                ShowItemCountOnOrderButton();
            };
        }

        $('.ItemCardContentOrderAdd').click(function () {
            var itm = $(this).parents(".ItemCard").attr("data-itm");
            add(itm);
        });

         $('.ItemCardContentOrderRemove').click(function () {
             var itm = $(this).parents(".ItemCard").attr("data-itm");
             remove(itm);
        });

        //End DataBase

    </script>
}