@model KhdoumWeb.Models.ViewModels.ItemDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Title}";
    int? count = Model.RatingCount;
    int? value = Model.RatingValues;

    int? rating = value / count;

}
<style>
    #ItemMain {
        background-color: white;
        padding: 10px;
        overflow:auto;
    }

    #ImgContainer {
        width: 100%;
        text-align: center;
    }

    #ItemImg {
        height: 500px;
        width: 500px
    }

    #UserInfo {
        background-color: white;
        padding: 10px;
        margin-top: 20px;
    }

    #UserImgContainer {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    #UserImg {
        width: 100px;
        height: 100px;
        border-radius: 200px;
    }

    #PriceContainer {
        margin-top: 20px;
        background-color: white;
        height: 50px;
        padding-top: 8px;
    }

    #OrderContainer {
        margin-top: 20px;
        height: 50px;
    }

        #OrderContainer a {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding-top: 10px;
        }

    #OrderIcon {
        position: absolute;
        right: 30px;
        margin-top: 5px;
    }

    #TextOrderContainer {
        margin-top: 20px;
        height: 50px;
    }

        #TextOrderContainer a {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding-top: 10px;
        }

    #TextOrderIcon {
        position: absolute;
        right: 30px;
        margin-top: 5px;
    }

    #Raiting {
        background-color: white;
        height: 100px;
        font-size: 25px;
        text-align: center;
        padding-top: 8px;
    }

    #Views {
        background-color: white;
        height: 50px;
        text-align: center;
        margin-top: 20px;
        font-size: 25px;
    }

        #Views p {
            padding-top: 8px;
        }

        #Views i {
            position: absolute;
            right: 30px;
            margin-top: 5px;
        }

    .Message{
        background-color:white;
        padding:10px;
        margin-top:20px;
    }
    .MessageBody {
        border: none;
        background-color: #f3f3f3;
        width: 100%;
        padding: 10px;
    }
    .Message .MessageLnks
    {
        width:100%;
    }

    .Message .MessageLnks a {
        border-radius: 0;
        width: 100%;
        margin: auto;
    }

    #Share {
        margin-top: 20px;
        height: 50px;
    }

        #Share a {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding-top: 10px;
        }

    #ShareBtnIcon {
        position: absolute;
        right: 30px;
        margin-top: 5px;
    }

    .HeaderAd {
        background-color: #007eb2;
        color:white;
        height:100px;
        margin-bottom:20px;
    }

    .SideAd {
        background-color: #007eb2;
        color: white;
        height: 300px;
        margin-top: 20px;
        text-align:center;
    }

    .ContentAd {
        background-color: #007eb2;
        color: white;
        height: 300px;
        margin-top: 20px;
        text-align: center;
    }


</style>

<div style="margin-top:20px">
    <div class="row">
        <div class="col-lg-12">
            <div class="HeaderAd">
                <h3 style="padding-top:30px" class="text-center">مساحه اعلانيه</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div id="ItemMain">
                <h4 id="ItemTitle">@Model.Title</h4>
                <p>تمت الاضافة بتاريخ : @Model.Date</p>
                <div id="ImgContainer">
                    @if (Model.ImgUrl == "false")
                    {
                        <img id="ItemImg" src="~/uploads/default.png" alt="@Model.Title" title="@Model.Title">
                    }
                    else
                    {
                        <img id="ItemImg" src="~/uploads/Items/@Model.ImgUrl" alt="@Model.Title" title="@Model.Title">
                    }
                </div>
                <div>
                    <p>@Html.Raw(Model.Description)</p>
                </div>
            </div>
            <div id="Message" class="Message">
                <h5 class="MessageTitle">ارسال طلبك فى رسالة</h5>
                <textarea class="MessageBody" placeholder="اطلب طلباتك الآن عبر الواتساب أو الايميل" rows="8"></textarea>
                <div class="MessageLnks">
                    <a href="#Message" target="_self" id="Whats" onclick="GoWhats()" class="btn btn-info">ارسال عبر الواتساب</a>
                    <a href="#Message" id="Email" target="_self" onclick="GoEmail()" class="btn btn-primary">ارسال عبر الايميل</a>
                </div>
                <span class="text-danger Alert"></span>
            </div>
            <div  class="ContentAd">
               <h3 style="padding-top:130px">مساحة اعلانيه</h3>
            </div>
        </div>
      
        <div class="col-lg-3">

            <div id="Raiting">
                <div id="Stars">
                    @for (int i = 1; i < 6; i++)
                    {
                        if (rating > 0)
                        {
                            <i class="fas fa-star text-warning"></i>
                        }
                        else
                        {
                            <i class="far fa-star text-warning"></i>
                        }

                        rating = rating - 1;
                    }
                    <p style="font-size:23px">@count تقييمات</p>
                </div>
            </div>
            <div id="Views" class="text-warning">
                <p><i class="fas fa-eye"></i> @Model.ViewsCount</p>
            </div>
            <div id="UserInfo">
                <div id="UserImgContainer">
                    @if (Model.ImgUrl == "false")
                    {
                        <img id="UserImg" src="~/uploads/default.png" alt="@Model.Title" title="@Model.Member.FullName">
                    }
                    else
                    {
                        <img id="UserImg" src="~/uploads/Members/@Model.Member.ImgUrl" alt="@Model.Member.FullName" title="@Model.Member.FullName">
                    }
                </div>
                <h5 class="text-center"><a asp-action="Search" asp-route-q="@Model.Member.FullName" class="Lnk">@Model.Member.FullName</a></h5>
            </div>
            @if (Model.Price != 0)
            {
                <div id="PriceContainer">
                    <h4 class="text-center text-danger">@Model.Price ج.م</h4>
                </div>
            }

            <div id="OrderContainer">
                <a id="OrderBtn" asp-action="Order" asp-route-id="@Model.Id" data-ajax="true" data-ajax-method="post" class="btn btn-primary"><i id="OrderIcon" class="fas fa-phone"></i> <span>أطلب الآن</span></a>
            </div>
            <div id="TextOrderContainer">
                <a href="#Message" id="TextOrderBtn" class="btn btn-info"><i id="TextOrderIcon" class="fas fa-comment-medical"></i> <span>أرسل طلبك فى رساله</span></a>
            </div>
            <div id="Share">
                <a href="#" id="ShareBtn" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-warning"><i id="ShareBtnIcon" class="fas fa-share-alt"></i> <span>مشاركة</span></a>
            </div>
            <div class="SideAd">
                <h3 style="padding-top:130px;">مساحة اعلانيه</h3>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">مشاركة الخدمة</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="ManageCategories" class="modal-body">
                <div class="addthis_inline_share_toolbox"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{

    <script>
    $(function () {
        $('#OrderBtn').click(function (e) {

            if ($(this).find('span').text() != "أطلب الآن") {
                console.log("true")
                $(this).attr('href', '');
                e.preventDefault();
                return;
            }

            $(this).find('span').text("@Model.Phone");
        });
    });

        function GoWhats() {
            var message = $('.MessageBody').val();
            var Title = $('#ItemTitle').text();
            var Url = "طلب الخدمة @Model.ShortLink";
            if (message == '') {
                $('.Alert').text("ادخل طلبك");
                return;
            }
            

            $('#Whats').attr("href", `https://wa.me/@Model.Phone?text= ${message} لـ ${Title}  (${Url})`)
            $('#Whats').attr("target", "_blank");
            $('.Alert').text("");
        }

        function GoEmail() {
            var message = $('.MessageBody').val();
            var Title = $('#ItemTitle').text();
            Url= "طلب الخدمة @Model.ShortLink";

            if (message == '') {
                $('.Alert').text("ادخل طلبك");
                return;
            }

            $('#Email').attr("href", `mailto:@Model.Member.Email?subject= ${Title} (${Url})&body=${message}`);
            $('#Email').attr("target", "_blank");
            $('.Alert').text("");
            //console.log(`mailto:@Model.Member.Email?subject= ${Title}&body=${message}`);
        }
    </script>
}